body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

#waypoints {
    max-width: 600px;
    margin: 0 auto;
    text-align: center; /* Center the content within the container */
}