body {
    margin: 0 auto;
    font-family: Manrope, sans-serif;
}

h1 {
    text-align: center; /* Center the text */
    margin-bottom: 20px; /* Add some space below the heading */
}

p {
    text-align: center;
    font-size: 16px;
}

/* Container Styling */
.container {
    max-width: 800px;
    margin: 20px auto 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form Styling */
#myForm {
    max-width: 600px;
    margin: 0 auto;
    text-align: right;
}

/* Label:Input Wrapper */
.form-group {
    margin-bottom: 10px;
}

/* Input Textbox Styling */
input[type="text"][name^="waypoint"],
input[type="text"][name="origin"],
input[type="text"][name="destination"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"][name^="waypoint"]:hover,
input[type="text"][name="origin"]:hover,
input[type="text"][name="destination"]:hover {
    border-color: #555;
}

input[type="text"][name^="waypoint"]:focus,
input[type="text"][name="origin"]:focus,
input[type="text"][name="destination"]:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="text"]::placeholder {
    color: #aaa;
}

/* Label Styling */
label {
    display: inline-block;
    font-size: large;
    font-style: oblique;
    font-weight: bold;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

label[for="origin"],
label[for="destination"],
label[for^="waypoint"] {
    color: #007BFF;
}

/* Button Styling */
input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #28a745; /* Purple color */
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #357544; /* Darker shade of purple on hover */
}

button {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #7B68EE; /* Purple color */
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6A5ACD; /* Darker shade of purple on hover */
}

.toggle {
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
    justify-content: center;
}

.toggle input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.toggle label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.toggle label:hover {
    cursor: pointer;
}

.toggle input:checked + label {
    background-color: #c893ff;
    box-shadow: none;
}

.toggle label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.toggle label:last-of-type {
    border-radius: 0 4px 4px 0;
}