<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OptiJourney</title>
    <script th:src="@{/js/homepage.js}"></script>
    <script async defer th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${apiKey} + '&libraries=places&callback=init'"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/homepageStyles.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>OptiJourney</h1>
    <p>Enter an origin, destination, and optional waypoints in between. Hit navigate to find the most optimal journey!</p>
    <form th:action="@{/submit}" method="post" id="myForm">
        <div class="form-group">
            <label for="origin" th:text="'Origin:'"></label>
            <input type="text" id="origin" name="origin" autocomplete="off">
        </div>

        <div id="waypoints"></div>

        <button type="button" onclick="addWaypoint()">Add Waypoint</button>

        <div class="form-group">
            <label for="destination" th:text="'Destination:'"></label>
            <input type="text" id="destination" name="destination" autocomplete="off">
        </div>

        <div class="selections">
            <div class="radio-group">
                <label>
                    <input type="radio" name="mode" value="walking">
                    <span class="material-icons">directions_walk</span>
                </label>

                <div class="vertical-separator"></div>

                <label>
                    <input type="radio" name="mode" value="bicycling">
                    <span class="material-icons">directions_bike</span>
                </label>

                <div class="vertical-separator"></div>

                <label class="checked">
                    <input type="radio" name="mode" value="driving">
                    <span class="material-icons">directions_car</span>
                </label>

                <div class="vertical-separator"></div>

                <label>
                    <input type="radio" name="mode" value="transit">
                    <span class="material-icons">directions_transit</span>
                </label>
            </div>

            <div class="toggle">
                <input type="radio" id="radio-one" name="toggle" value="distance" checked/>
                <label for="radio-one">Distance</label>
                <input type="radio" id="radio-two" name="toggle" value="duration" />
                <label for="radio-two">Duration</label>
            </div>
        </div>

        <input type="submit" value="Navigate">
    </form>
</div>
</body>
</html>
