<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OptiJourney</title>
    <script th:src="@{/js/map.js}"></script>
    <script async defer th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${apiKey} + '&libraries=places&callback=initMap'"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <link th:href="@{/css/mapStyles.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>OptiJourney</h1>
    <div id="map" style="width: 90vw; height: 70vh;"></div>
    <script th:inline="javascript">
        var origin = [[${origin}]];
        var destination = [[${destination}]];
        var waypoints = [[${waypoints}]];
    </script>
</div>
</body>
</html>